<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>AutoSave</key>
	<true/>
	<key>FormatVersion</key>
	<integer>2</integer>
	<key>UUID</key>
	<string>B62FF404-A5D7-4EDB-B3F2-871FCA58E53F</string>
</dict>
</plist>
