<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CFBundleDevelopmentRegion</key>
	<string>English</string>
	<key>CFBundleDisplayName</key>
	<string>ROUND:Camb</string>
	<key>CFBundleDocumentTypes</key>
	<array/>
	<key>CFBundleExecutable</key>
	<string>${EXECUTABLE_NAME}</string>
	<key>CFBundleIconFile</key>
	<string>Icon.png</string>
	<key>CFBundleIconFiles</key>
	<array>
		<string>r2c_icon_57.png</string>
		<string>r2c_icon_114.png</string>
	</array>
	<key>CFBundleIdentifier</key>
	<string>com.halseysolutions.r2c</string>
	<key>CFBundleInfoDictionaryVersion</key>
	<string>6.0</string>
	<key>CFBundleName</key>
	<string>${PRODUCT_NAME}</string>
	<key>CFBundlePackageType</key>
	<string>APPL</string>
	<key>CFBundleSignature</key>
	<string>????</string>
	<key>CFBundleURLTypes</key>
	<array/>
	<key>CFBundleVersion</key>
	<string>1.0</string>
	<key>LSRequiresIPhoneOS</key>
	<true/>
	<key>NSMainNibFile</key>
	<string>MainWindow</string>
	<key>SHKBitLyKey</key>
	<string>R_8dc58293ef79577f677cf3c19c7bcf38</string>
	<key>SHKBitLyLogin</key>
	<string>hburgund</string>
	<key>SHKFacebookKey</key>
	<string>158884074187031</string>
	<key>SHKFacebookSecret</key>
	<string>25e2e09f4603d1ffb413d5218b79f215</string>
	<key>SHKMyAppName</key>
	<string>ROUND:Cambridge</string>
	<key>SHKMyAppURL</key>
	<string>http://halseyburgund.com/work/r2c</string>
	<key>SHKTwitterCallbackUrl</key>
	<string>http://halseyburgund.com/work/r2c</string>
	<key>SHKTwitterConsumerKey</key>
	<string>lgr46uMgA0ySRo8gIiMyA</string>
	<key>SHKTwitterSecret</key>
	<string>CBYNDPmyRPsxagFMK2cievzrjMDVwVnO66ZDXdcFBY</string>
	<key>UIApplicationExitsOnSuspend</key>
	<true/>
	<key>UIRequiredDeviceCapabilities</key>
	<array>
		<string>location-services</string>
		<string>microphone</string>
	</array>
	<key>UIStatusBarStyle</key>
	<string>UIStatusBarStyleBlackTranslucent</string>
	<key>UISupportedInterfaceOrientations</key>
	<array>
		<string>UIInterfaceOrientationPortrait</string>
	</array>
	<key>UTExportedTypeDeclarations</key>
	<array/>
	<key>UTImportedTypeDeclarations</key>
	<array/>
</dict>
</plist>
