<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CFBundleDevelopmentRegion</key>
	<string>English</string>
	<key>CFBundleDisplayName</key>
	<string>SI Main St.</string>
	<key>CFBundleDocumentTypes</key>
	<array/>
	<key>CFBundleExecutable</key>
	<string>${EXECUTABLE_NAME}</string>
	<key>CFBundleIconFile</key>
	<string>moms_logo57_notext.png</string>
	<key>CFBundleIconFiles</key>
	<array>
		<string>moms_logo57_notext.png</string>
		<string>moms_logo114_notext.png</string>
		<string>moms_logo57_notext.png</string>
		<string>moms_logo114_notext.png</string>
	</array>
	<key>CFBundleIdentifier</key>
	<string>edu.si.sfms</string>
	<key>CFBundleInfoDictionaryVersion</key>
	<string>6.0</string>
	<key>CFBundleName</key>
	<string>${PRODUCT_NAME}</string>
	<key>CFBundlePackageType</key>
	<string>APPL</string>
	<key>CFBundleSignature</key>
	<string>????</string>
	<key>CFBundleURLTypes</key>
	<array/>
	<key>CFBundleVersion</key>
	<string>1.0.2</string>
	<key>LSRequiresIPhoneOS</key>
	<true/>
	<key>NSMainNibFile</key>
	<string>MainWindow</string>
	<key>SHKBitLyKey</key>
	<string></string>
	<key>SHKBitLyLogin</key>
	<string></string>
	<key>SHKFacebookKey</key>
	<string></string>
	<key>SHKFacebookSecret</key>
	<string></string>
	<key>SHKMyAppName</key>
	<string></string>
	<key>SHKMyAppURL</key>
	<string></string>
	<key>SHKTwitterCallbackUrl</key>
	<string></string>
	<key>SHKTwitterConsumerKey</key>
	<string></string>
	<key>SHKTwitterSecret</key>
	<string></string>
	<key>UIApplicationExitsOnSuspend</key>
	<true/>
	<key>UIPrerenderedIcon</key>
	<true/>
	<key>UIRequiredDeviceCapabilities</key>
	<array>
		<string>location-services</string>
		<string>microphone</string>
	</array>
	<key>UIStatusBarStyle</key>
	<string>UIStatusBarStyleBlackTranslucent</string>
	<key>UISupportedInterfaceOrientations</key>
	<array>
		<string>UIInterfaceOrientationPortrait</string>
	</array>
	<key>UTExportedTypeDeclarations</key>
	<array/>
	<key>UTImportedTypeDeclarations</key>
	<array/>
</dict>
</plist>
